*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-image: url(../Assets/baylor-covid-vaccine.jpg);
    background-size: cover;
}
#p{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#c{
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
    overflow:hidden ;
    /* width: 30rem; */
    background-color: rgb(20, 198, 198);
}
#c::before{
    position: absolute;
    z-index: -1;
    content: '';
    height: 65rem;
    width: 55rem;
    /* background-image: conic-gradient(from 90deg, violet 10%,rgba(229, 235, 51, 0.09) 80%,rgb(136, 255, 0) 100%); */

    background-image: conic-gradient(from 90deg,rgb(245, 0, 0),rgb(26, 255, 5),rgb(13, 0, 255));
    animation: rotate 5s linear infinite;
}
#c:after{
    position: absolute;
    z-index: -1;
    height: 41rem;
    width: 34rem;
    background-color: rgb(255, 235, 235);
    content: '';
}

@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
form{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 
input{
    padding: .5rem;
    margin: 1rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-radius: 3rem;
}
input:is([type="email"],[type="password"]){
    text-align: center;
}
#btn{
    margin-top: 3rem;
    padding: .5rem 3rem;
    border: none;
}
#btn:hover{
  
    cursor: pointer;
}
.social{
    display: flex;
    justify-content:center;
    align-items: center;
    border: .1rem solid black;
    border-radius: 2rem;
    padding: .5rem;
    margin: 1rem;
}
.social:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(12, 220, 74);
}
ion-icon{
    font-size: 2rem;
}
h3{
    margin: .2rem;
}
p ion-icon,ion-icon{
    font-size: 1.5rem;
    transition: 1s;

}
ion-icon:hover{
    font-size: 5rem;
    transform:rotate(360deg);
}
h2{
    font-size: 2rem;
}